@tailwind base;
@tailwind components;
@tailwind utilities;

/* style highlighted text */
::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (orientation: portrait) {
  .intro-text {
    grid-column: span 3;
  }
  .sidebar-container {
    grid-column: span 3;
  }
  .sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
  }
  .sidebar-image {
    justify-self: end;
  }
  .sidebar-buttons {
    justify-self: start;
  }
}

@media (orientation: landscape) {
  .intro-text {
    grid-column: span 2;
  }
  .sidebar-container {
    grid-column: span 1;
  }
  .sidebar {
    display: flex;
    flex-direction: col;
    justify-items: center;
  }
}

html {
  min-width: 360px;
}

.common-container {
  padding-top: 5px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
  max-width: 100ch; /* Adjust as needed */
}

.work-section {
  padding: 20px;
  border: 1px solid #333;
  background: #111;
  max-width: 1200px; /* Increased width to allow for more space */
  margin: 0 auto; /* Center the section */

}

.work-item {
  display: flex;
  align-items: center; /* Ensure content aligns along the center line */
  padding: 5px; /* Add padding for spacing */
  padding-bottom: 10px;
}

.work-details {
  display: flex;
  flex-direction: column; /* Stack company and job title vertically */
  align-items: flex-start; /* Align text to the left */
}

.work-icon {
  width: 40px;
  height: 40px;
  margin-right: 15px; /* Space between icon and text */
}

.company {
  font-size: 1.2em;
  font-weight: bold;
}

.job-title {
  font-size: 1em;
  color: #ccc; /* Adjusted color for distinction */
}

.dates {
  font-size: 1em; /* Slightly larger font size for dates */
  margin-left: auto;
  color: gray;
}

.section-header {
  font-size: 1.2em; /* Larger font size for the header */
  font-weight: bold; /* Make it bold */
  display: flex; /* Use flex to align elements */
  justify-content: space-between; /* Spread elements across the width */
  align-items: center; /* Align elements vertically */
}

.section-header svg {
  width: 24px; /* Adjust as needed */
  height: 24px;
}

.button-common {
  display: flex;
  justify-content: space-between;  /* Distribute space evenly */
  align-items: center;  /* Aligns items vertically */
  width: 100%;  /* Button takes full width */
  background: transparent;
  border: 1px solid #333;
  padding: 0.5rem 1rem;  /* Padding for spacing */
  transition: all 0.2s ease;  /* Smooth transition for hover effects */
}

.button-common:hover {
  background: #333;  /* Darker background on hover */
  color: white;  /* Text color change on hover */
}

